.productCard {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, gray, 10, 0, 0, 0);
    -fx-background-radius: 10;
}

.productName {
    -fx-background-color: red;
    -fx-font-size: 21px;
}

.headerTopBar {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, gray, 10, 0, 0, 0);
}

.categoryTitle {
    -fx-font-size: 24px;
}

.navbarTile {
    -fx-background-color: #fbf9f9;
    -fx-border-color: #b9b7b7;
    -fx-background-radius: 10;
}

.navbarTile:hover {
    -fx-background-color: #be5250;
    -fx-cursor: hand;
}

.navbarTitle {
    -fx-font-size: 20px;
}

.header {
    /*-fx-background-color: yellow;*/
}

.searchButton:hover {
    -fx-cursor: hand;
}

.needHelpButton {
    -fx-background-color: #be5250;
    -fx-text-fill: white;
    -fx-font-size: 20px;

}

.needHelpButton:hover {
    -fx-background-color: orange;
    -fx-cursor: hand;
}

.needHelpButton:pressed {
    -fx-background-color: gray;
}

#headerLogo {

}